
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(243, 0, 0);
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.topnav a.active {
  background-color: rgb(207, 27, 27);
  color: white;
}

.topnav a:hover:not(.active) {
  background-color: rgb(221, 103, 103);
  color: black;
}

.content{
  background-color: rgb(255, 195, 195);
  color: black;
  line-height: 1.7;
  padding: 12px;
 }

table, th, td {
  width:1200px; 
  border: 1px solid black
}